<p><%= t('.greeting', recipient: @resource.email, default: "Hello #{@resource.email}!") %></p>

<p><%= t('.instruction', default: 'Someone has requested a link to change your password, and you can do this through the link below.') %></p>

<p><%= link_to t('.action', default: 'Change my password'), default_url_options(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', default: "If you didn't request this, please ignore this email.") %></p>
<p><%= t('.instruction_3', default: "Your password won't change until you access the link above and create a new one.") %></p>
